html {
    background-color: blue;
}
body {
 font-family: sans-serif;
    background-color: white;
    max-width: 75%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding-top: .5em;
}
.knoppen {
   overflow: hidden; 
}

.knoppen li {
    list-style-type: none;
    float: left;
}

.knoppen li.actief {
    background-color: orange;
}

li {
  border: 1px solid black;
    padding: .5em;
}
.paneel {
    display: none;
    padding-left: 2%;
}

.paneel.actief {
    display: block !important;
}
.paneel img {
    max-width: 100%;
    float: right;
    margin-right: 1%;
    margin-bottom: 2%;
}

p {
    width: 70%;
}